/* Estilo da pagina index.html */
body {
    background-color: #131313;
    color: azure;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.menu li {
    display: inline;
    padding: 15px;
}

.menu li a {
    text-decoration: none;
    color: azure;
    font-size: 20px;
    transition: color .3s ease-in;
}

.menu li a:hover {
    color: #a9a9a9;
    text-decoration: underline;
}

.p-30 {
    padding: 30px;
}

.foto {
    border-radius: 50%;
    padding: 8px;
    border: 5px solid #f5fffb;
}

.wh-300 {
    width: 300px;
    height: 300px;
}

.tm-social {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.mb-50 {
    margin-bottom: 50px;
}

footer p {
    margin: 0;
    margin-top: 5px;
}

/* Estilo da pagina contato.html */
.ml-50 {
    margin-left: 50px;
}

.contato {
    display: flex;
    align-items: center;
    min-height: 73vh;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.formulario {
    max-width: 30vw;
}

.enviar {
    width: 75%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    height: 30px;
    transition: background-color .2s ease-in;
}

.enviar:hover {
    background-color: gray;
}

input,
textarea {
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 1rem;
}